<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.BookMapper">

    <resultMap id="BookMapper" type="com.tencent.wxcloudrun.model.Book">
        <id property="id" column="id"/>
        <result property="name" column="name" javaType="java.lang.String" />
        <result property="image" column="image" javaType="java.lang.String" />
        <result property="desc" column="desc" javaType="java.lang.String"  />
    </resultMap>

    <select id="getAllBooks" resultMap="BookMapper">
        SELECT `id`, `name`, `image`, `desc`
        FROM book
    </select>
</mapper>
