<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.DetailMapper">

    <resultMap id="DetailMapper" type="com.tencent.wxcloudrun.model.Detail">
        <id property="id" column="id"/>
        <result property="content" column="content" javaType="java.lang.String" />
        <result property="itemId" column="item_id" javaType="java.lang.Integer" />
    </resultMap>

    <select id="findDetailByItemId" resultMap="DetailMapper" parameterType="java.lang.Integer">
        SELECT `id`, `content`, `item_id`
        FROM detail where item_id = #{itemId}
    </select>
</mapper>
