<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.PicMapper">

    <resultMap id="PicMapper" type="com.tencent.wxcloudrun.model.Pic">
        <id property="id" column="id"/>
        <result property="cid" column="cid" javaType="java.lang.Integer" />
        <result property="material" column="material" javaType="java.lang.Integer" />
        <result property="colorSys" column="color_sys" javaType="java.lang.Integer" />
        <result property="season" column="season" javaType="java.lang.Integer" />
        <result property="picUrl" column="pic_url" javaType="java.lang.String" />
        <result property="title" column="title" javaType="java.lang.String" />
    </resultMap>

    <insert id="insert" parameterType="com.tencent.wxcloudrun.model.Pic">
        insert into pic (cid, material, color_sys,season, pic_url, title)
        values (#{cid,jdbcType=INTEGER}, #{material,jdbcType=INTEGER}, #{colorSys,jdbcType=INTEGER}, #{season,jdbcType=INTEGER}
        , #{picUrl,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.tencent.wxcloudrun.model.Pic">
        update pic
        set material = #{sessionKey,jdbcType=INTEGER},
        color_sys = #{weight,jdbcType=INTEGER},
        season = #{height,jdbcType=INTEGER},
        cid = #{sex,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findPicByCid" resultMap="PicMapper" parameterType="java.lang.Integer">
        SELECT `id`, `cid`, `material`, `color_sys`, `season`, `pic_url` `title`
        FROM pic where cid = #{cid}
    </select>
    <select id="findPicById" resultMap="PicMapper" parameterType="java.lang.Integer">
        SELECT `id`, `cid`, `material`, `color_sys`, `season`, `pic_url` `title`
        FROM pic where id = #{id}
    </select>
    <select id="findAll4Train" resultMap="PicMapper">
        SELECT `id`, `cid`, `material`, `color_sys`, `season` from pic where color_sys is not null and
        material is not null and season is not null
    </select>
    <select id="findAll4List" resultMap="PicMapper" parameterType="java.lang.Integer">
        SELECT `id`, `cid`, `material`, `color_sys`, `season` from pic
        where uid = #{uid} order by cid asc
    </select>
</mapper>
